body{
    background: url('/bundles/portfolio/images/bg.png');
    font-family: 'Droid Serif', serif;
    font-size: 15px;
    line-height: 17px;
}

div.wrapper{
    width: 1024px;
    margin: 20px auto;
    background: url('/images/left-bg.gif') #444;
    border: solid 2px #F5F5F5;
}

header.header{
    float: left;
    width: 200px;
    padding: 10px;
}
header h1{
    font-size: 26px;
    line-height: 22px;
    color: #F5F5F5;
    line-height: 30px;

}
header h2{
    font-size: 20px;
    padding: 15px 0 0 40px;
    float: left;
    line-height: 22px;
}
section h2{
    font-size: 20px;
    padding: 5px;
    line-height: 22px;
    margin: 0 0 10px 0;
}
p{
    padding: 8px 0;
    text-align: justify;
}
li{
    margin-left: 20px;
    padding-left: 10px;
    list-style: circle;
}

section.body{
    float: left;
    width: 784px;
    padding: 10px;
    background: #FFFFFF;
}
.cb{
    clear: both;
}
div#portfolio { 
    width:350px; 
    float: left;
    text-align:center;
}
li.link { 
    margin: 20px auto 5px auto;
    padding: 10px;
    list-style: none;
    color:#444;
    font-size: 20px;
    display: block;
    background: #D9E1D9;
    border: solid 1px #D9E3EA;
    width: 250px;
    opacity: 0.9;
}
li.link.active, li.link:hover { 
    opacity: 1;
}
div.descriptions div{
    display: none;
    text-align: justify;
}
div.descriptions div.show{display: block;}

a.big_link{
    display: block;
    width: 240px;
    border: solid 2px #333;
    background: #646464;
    color: #FFF;
    text-align: center;
    text-decoration: none;
    float: left;
    cursor: pointer;
    padding: 5px;
}
div.gallery{
    width: 205px;
    float: right;
}
div.gallery ul li{
    display: block;
    list-style: none;
    margin: 10px 0;
    padding: 2px;
    border: solid 1px #e2e2e2;
}
div.full_description{
    width: 545px;
    float: left; 
    padding: 0 10px;
}