body{
    background: url('/bundles/portfolio/images/bg.png');
    font-family: 'Droid Sans', serif;
    font-size: 14px;
    line-height: 16px;
}
div.wrapper{
    width: 1024px;
    margin: 20px auto;
    background: #444;
    border: solid 2px #F5F5F5;
}

header.header{
    float: left;
    width: 200px;
    padding: 10px;
}
header h1{
    font-size: 30px;
    line-height: 22px;
    color: #F5F5F5;
    line-height: 30px;
}
header h2{
    font-size: 20px;
    padding: 15px 0 0 40px;
    float: left;
    line-height: 22px;
}
section h2{
    font-size: 18px;
    padding: 5px 0;
    line-height: 22px;
}
p{
    padding: 5px 0;
}
li{
    margin-left: 20px;
    padding-left: 10px;
    list-style: circle;
}

section.body{
    float: left;
    width: 784px;
    padding: 10px;
    background: #FFFFFF;
}
.cb{
    clear: both;
}
div#portfolio { 
    width:450px; 
    float: left;
    text-align:center;
}
li.link { 
    margin: 1px auto;
    padding: 10px;
    list-style: none;
    color:#444;
    font-size: 20px;
    display: block;
    background: #D9E1D9;
    border: solid 1px #D9E3EA;
    width: 200px;
    opacity: 0.9;
}
li.link.active, li.link:hover { 
    opacity: 1;
}
div.descriptions div{display: none;}
div.descriptions div.show{display: block;}