<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Rotherfield Freelance PHP Development{% endblock %}</title>
        
        <script src="http://www.google.com/jsapi" type="text/javascript"></script> 
        <script type="text/javascript">google.load("jquery","1");google.load("jqueryui","1");</script>
        {% javascripts "@RothersStaticBundle/Resources/public/js/jQuery.radmenu.min.js" output="bundles/RothersStaticBundle/js/radial.js"%}
            <script src="{{ asset_url }}" ></script>
        {% endjavascripts %}
        
        {% block stylesheets %}
            {% stylesheets "@RothersStaticBundle/Resources/public/css/radial.css" output="bundles/RothersStaticBundle/css/radial.css"%}
                <link href="{{ asset_url }}" rel="stylesheet"  />
            {% endstylesheets %}
        {% endblock %}
        
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="wrapper">
            <div class="header">
                {% block header %}{% endblock %}
                <div class="cb"></div>
            </div>            
            <div class="body">
                {% block body %}{% endblock %}
                <div class="cb"></div>
            </div>            
            <div class="footer">
                {% block footer %}{% endblock %}
                <div class="cb"></div>
            </div>            
            <div class="cb"></div>
        </div>
        <script>
            {% block javascripts %}{% endblock %}
        </script>
    </body>
</html>
