<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Luke Rotherfield Freelance PHP Development{% endblock %}</title>
        
        <script src="http://www.google.com/jsapi" type="text/javascript"></script> 
        <script type="text/javascript">google.load("jquery","1");google.load("jqueryui","1");</script>
        
        {% javascripts "@PortfolioBundle/Resources/public/js/html5shiv.js" output="bundles/portfolio/js/shiv.js"%}
            <!--[if lt IE 9]>
            <script src="{{ asset_url }}" ></script>
            <![endif]-->
        {% endjavascripts %}
            
        {% block head_javascripts %}{% endblock %}    
        
        {% block stylesheets %}
            {% stylesheets "@PortfolioBundle/Resources/public/css/reset.css" output="bundles/portfolio/css/reset.css"%}
                <link href="{{ asset_url }}" rel="stylesheet"  />
            {% endstylesheets %}
            <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700,400italic' rel='stylesheet' type='text/css'>
            {% stylesheets "@PortfolioBundle/Resources/public/css/style.css" output="bundles/portfolio/css/style.css"%}
                <link href="{{ asset_url }}" rel="stylesheet"  />
            {% endstylesheets %}
        {% endblock %}
        
        <link rel="shortcut icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="wrapper">
            <header class="header">
                {% block header %}
                    <h1>Luke Rotherfield Freelance</h1>
                {% endblock %}
                <div class="cb"></div>
            </header>            
            <section class="body">
                {% block body %}{% endblock %}
                <div class="cb"></div>
            </section>            
            <dfooter class="footer">
                {% block footer %}{% endblock %}
                <div class="cb"></div>
            </footer>            
            <div class="cb"></div>
        </div>
        <script>
            {% block javascripts %}{% endblock %}
        </script>
    </body>
</html>
