{% extends "RothersStaticBundle::layout.html.twig" %}
{% block header %}
<h1>Rotherfield Freelance</h1>
{% endblock %}
{% block body %}
    {{parent()}}
    <div id='radial_container'>
        <ul class='list'>
            <li class='item'>	<div data-desc="vb" class='my_class active'>  Vale&nbsp;Blinds  </div>	</li>
            <li class='item'>	<div data-desc="bi" class='my_class'>  BIDA  </div>	</li>
            <li class='item'>	<div data-desc="gc" class='my_class'>  Garden&nbsp;of&nbsp;Cardiff  </div>	</li>
            <li class='item'>	<div data-desc="ch" class='my_class'>  The&nbsp;Construction&nbsp;Hub  </div>	</li>
            <li class='item'>	<div data-desc="ph" class='my_class'>  Pavehunter  </div>	</li>
            <li class='item'>	<div data-desc="jk" class='my_class'>  John&nbsp;Kinch&nbsp;Builds  </div>	</li>
            <li class='item'>	<div data-desc="rh" class='my_class'>  Rhooms  </div>	</li>
            <li class='item'>	<div data-desc="vc" class='my_class'>  Vacation&nbsp;club  </div>	</li>
        </ul>
    </div>
<div class="descriptions">
    <div class="vb show">
        <h2>Vale Blinds</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Curabitur fermentum ligula placerat urna ullamcorper at ullamcorper erat rhoncus. Quisque sem tortor, fringilla ut vulputate id, lobortis in magna. Proin arcu odio, mollis in interdum at, pretium dignissim turpis. </p>
        <p>Etiam ac felis eget libero ultricies vehicula vitae vel odio. Nam sed convallis magna. Vestibulum tempor iaculis enim, sed dignissim velit sodales sit amet.  Praesent aliquet orci non metus volutpat volutpat. Maecenas gravida laoreet nisi, non aliquet tellus mollis at. Mauris mollis suscipit odio nec dignissim. Praesent mattis mollis mauris, quis sagittis sem volutpat non.</p>
        <p>Integer viverra adipiscing rhoncus. Pellentesque eget lectus non risus aliquam faucibus. Duis mollis leo vel dui lobortis sed pretium nunc imperdiet. Donec tincidunt commodo consectetur. Praesent mollis elementum arcu, at adipiscing justo ultrices at. Mauris eu est ligula, sit amet semper ipsum. </p>
    </div>
    <div class="bi">
        <h2>BIDA</h2>
        <p>Curabitur fermentum ligula placerat urna ullamcorper at ullamcorper erat rhoncus. Quisque sem tortor, fringilla ut vulputate id, lobortis in magna. Proin arcu odio, mollis in interdum at, pretium dignissim turpis. </p>
        <p>Ultricies vehicula vitae vel odio. Nam sed convallis magna. Vestibulum tempor iaculis enim, sed dignissim velit sodales sit amet.  Praesent aliquet orci non metus volutpat volutpat. Maecenas gravida laoreet nisi, non aliquet tellus mollis at. Mauris mollis suscipit odio nec dignissim. Praesent mattis mollis mauris, quis sagittis sem volutpat non.</p>
        <p>Duis mollis leo vel dui lobortis sed pretium nunc imperdiet. Donec tincidunt commodo consectetur. Praesent mollis elementum arcu, at adipiscing justo ultrices at. Mauris eu est ligula, sit amet semper ipsum. </p>
    </div>
    <div class="gc">
        <h2>Garden of Cardiff</h2>
        <p>Lobortis in magna. Proin arcu odio, mollis in interdum at, pretium dignissim turpis. </p>
        <p>Vestibulum tempor iaculis enim, sed dignissim velit sodales sit amet.  Praesent aliquet orci non metus volutpat volutpat. Maecenas gravida laoreet nisi, non aliquet tellus mollis at. Mauris mollis suscipit odio nec dignissim. Praesent mattis mollis mauris, quis sagittis sem volutpat non.</p>
        <p>Viverra adipiscing rhoncus. Pellentesque eget lectus non risus aliquam faucibus. Duis mollis leo vel dui lobortis sed pretium nunc imperdiet. Donec tincidunt commodo consectetur. Praesent mollis elementum arcu, at adipiscing justo ultrices at. Mauris eu est ligula, sit amet semper ipsum. </p>
    </div>
    <div class="ch">
        <h2>The Construction Hub</h2>
        <p>Vestibulum tempor iaculis enim, sed dignissim velit sodales sit amet.  Lobortis in magna. Proin arcu odio, mollis in interdum at, pretium dignissim turpis. </p>
        <p>Viverra adipiscing rhoncus. Pellentesque eget lectus non risus aliquam faucibus. Duis mollis leo vel dui lobortis sed pretium nunc imperdiet. Donec tincidunt commodo consectetur. Praesent mollis elementum arcu, at adipiscing justo ultrices at. Mauris eu est ligula, sit amet semper ipsum. </p>
    </div>
    <div class="ph">
        <h2>Pavehunter</h2>
        <p>Proin arcu odio, mollis in interdum at, pretium dignissim turpis. </p>
        <p>Vestibulum tempor iaculis enim, sed dignissim velit sodales sit amet.  Praesent aliquet orci non metus volutpat volutpat. Maecenas gravida laoreet nisi, non aliquet tellus mollis at. Mauris mollis suscipit odio nec dignissim. Praesent mattis mollis mauris, quis sagittis sem volutpat non.</p>
    </div>
    <div class="jk">
        <h2>John Kinch Builds</h2>
        <p>Lobortis in magna. Proin arcu odio, mollis in interdum at, pretium dignissim turpis. </p>
        <p>Vestibulum tempor iaculis enim, sed dignissim velit sodales sit amet.  Praesent aliquet orci non metus volutpat volutpat. Maecenas gravida laoreet nisi, non aliquet tellus mollis at. Mauris mollis suscipit odio nec dignissim. Praesent mattis mollis mauris, quis sagittis sem volutpat non.</p>
        <p>Viverra adipiscing rhoncus. Pellentesque eget lectus non risus aliquam faucibus. Duis mollis leo vel dui lobortis sed pretium nunc imperdiet. Donec tincidunt commodo consectetur. Praesent mollis elementum arcu, at adipiscing justo ultrices at. Mauris eu est ligula, sit amet semper ipsum. </p>
    </div>
    <div class="rh">
        <h2>Rhooms</h2>
        <p>Proin arcu odio, mollis Lobortis in magna. Proin arcu odio, mollis in interdum at, pretium dignissim turpis. </p>
        <p>Vestibulum tempor iaculis enim, sed dignissim velit sodales sit amet.  Praesent aliquet orci non metus volutpat volutpat. Maecenas gravida laoreet nisi, non aliquet tellus mollis at. Mauris mollis suscipit odio nec dignissim. Praesent mattis mollis mauris, quis sagittis sem volutpat non.</p>
        <p>Viverra adipiscing rhoncus. Pellentesque eget lectus non risus aliquam faucibus. Duis mollis leo vel dui lobortis sed pretium nunc imperdiet. Donec tincidunt commodo consectetur. Praesent mollis elementum arcu, at adipiscing justo ultrices at. Mauris eu est ligula, sit amet semper ipsum. </p>
    </div>
    <div class="vc">
        <h2>Vacation Club</h2>
        <p>Praesent aliquet orci non metus volutpat volutpat. Maecenas gravida laoreet nisi, non aliquet tellus mollis at. Mauris mollis suscipit odio nec dignissim. Praesent mattis mollis mauris, quis sagittis sem volutpat non.</p>
        <p>Viverra adipiscing rhoncus. Pellentesque eget lectus non risus aliquam faucibus. Duis mollis leo vel dui lobortis sed pretium nunc imperdiet. Donec tincidunt commodo consectetur. Praesent mollis elementum arcu, at adipiscing justo ultrices at. Mauris eu est ligula, sit amet semper ipsum. </p>
    </div>
</div>
{% endblock %}
{% block javascripts %}
    {{parent()}}
    $(document).ready(function(){
        $("#radial_container").radmenu({
            listClass: 'list', // the list class to look within for items
            itemClass: 'item', // the items - NOTE: the HTML inside the item is copied into the menu item
            radius: 120, // radius in pixels
            animSpeed:300, // animation speed in millis
            animEasing: "linear",
            centerX: 150, // the center x axis offset
            centerY: 200, // the center y axis offset
            rotate: true,
            activeItemClass: "active",
            selectEvent: "click", // the select event (click)
            onSelect: function($selected){ // show what is returned 
                var item = $("#radial_container").radmenu("items").get($selected.index());
                $('div.my_class').removeClass("active")
                var desc = $(item).find('div.my_class').addClass("active").data('desc');
                $('div.descriptions div').removeClass("show");
                $('div.descriptions div.'+desc).addClass("show");
                var direction = "next";
                var rotations = 8-$selected.index();
                if($selected.index() <= 3){
                    rotations = $selected.index();
                    direction = "prev";
                }
                for(var i = 0; i < rotations; i++){
                    $("#radial_container").radmenu(direction);
                }
            },
            angleOffset: 0 // in degrees
        });
        $("#radial_container").radmenu("show");
    });
{% endblock %}
