<div class="gallery">
    <ul>
        <li>
            <a href="/images/portfolio/bida-home-large.png" class ="cloud-zoom" id="zoom1" rel="position: 'left', adjustX:-15, adjustY:-4, tint: '#aaaaff', titleOpacity: '0.8', tintOpacity: '0.2', lensOpacity:0, zoomWidth:400, zoomHeight:250">
                <img src="/images/portfolio/bida-home.png" alt="CMS driven website using bespoke CMS" title="CMS driven website using bespoke CMS" />
            </a>
        </li>
        <li>
            <a href="/images/portfolio/oak-home-large.png" class ="cloud-zoom" id="zoom1" rel="position: 'left', adjustX:-15, adjustY:-4, tint: '#aaaaff', titleOpacity: '0.8', tintOpacity: '0.2', lensOpacity:0, zoomWidth:400, zoomHeight:250">
                <img src="/images/portfolio/oak-home.png" alt="CMS driven property website with Gemini Software API" title="CMS driven property website with Gemini Software API" />
            </a>
        </li>
        <li>
            <a href="/images/portfolio/jkb-home-large.png" class ="cloud-zoom" id="zoom1" rel="position: 'left', adjustX:-15, adjustY:-4, tint: '#aaaaff', titleOpacity: '0.8', tintOpacity: '0.2', lensOpacity:0, zoomWidth:400, zoomHeight:250">
                <img src="/images/portfolio/jkb-home.png" alt="CMS driven website using Diem CMS" title="CMS driven website using Diem CMS" />
            </a>
        </li>
    </ul>
</div>