<div class="gallery">
    <ul>
        <li>
            <img src="/images/portfolio/bida-home.png" alt="CMS driven website using bespoke CMS" title="CMS driven website using bespoke CMS" />
        </li>
        <li>
            <img src="/images/portfolio/oak-home.png" alt="CMS driven property website with Gemini Software API" title="CMS driven property website with Gemini Software API" />
        </li>
        <li>
            <img src="/images/portfolio/jkb-home.png" alt="CMS driven website using Diem CMS" title="CMS driven website using Diem CMS" />
        </li>
    </ul>
</div>