<div class="gallery">
    <ul>
        <li>
            <a href="/images/portfolio/vale-home-large.png" class ="cloud-zoom" id="zoom1" rel="adjustX: 10, adjustY:-4, tint: '#aaaaff', titleOpacity: '0.8', tintOpacity: '0.2', lensOpacity:0, zoomWidth:400, zoomHeight:250">
                <img src="/images/portfolio/vale-home.png" alt="Bespoke Window Blinds Ecommerce Site" title="Bespoke window blinds ecommerce website" />
            </a>
        </li>
        <li>
            <a href="/images/portfolio/barafundle-home-large.png" class ="cloud-zoom" id="zoom1" rel="adjustX: 10, adjustY:-4, tint: '#aaaaff', titleOpacity: '0.8', tintOpacity: '0.2', lensOpacity:0, zoomWidth:400, zoomHeight:250">
                <img src="/images/portfolio/barafundle-home.png" alt="Audio ecommerce site with amazon S3" title="Audio ecommerce website with amazon S3" />
            </a>
        </li>
        <li>
            <a href="/images/portfolio/vale-basket-large.png" class ="cloud-zoom" id="zoom1" rel="adjustX: 10, adjustY:-4, tint: '#aaaaff', titleOpacity: '0.8', tintOpacity: '0.2', lensOpacity:0, zoomWidth:400, zoomHeight:250">
                <img src="/images/portfolio/vale-basket.png" alt="Bespoke ecommerce shopping cart" title="Bespoke ecommerce shopping cart" />
            </a>
        </li>
    </ul>
</div>