<div class="gallery">
    <ul>
        <li>
            <img src="/images/portfolio/vale-home.png" alt="Bespoke Window Blinds Ecommerce Site" title="Bespoke window blinds ecommerce website" />
        </li>
        <li>
            <img src="/images/portfolio/barafundle-home.png" alt="Audio ecommerce site with amazon S3" title="Audio ecommerce website with amazon S3" />
        </li>
        <li>
            <img src="/images/portfolio/vale-basket.png" alt="Bespoke ecommerce shopping cart" title="Bespoke ecommerce shopping cart" />
        </li>
    </ul>
</div>