<div class="gallery">
    <ul>
        <li>
            <a href="/images/portfolio/symfony-logo-large.png" class ="cloud-zoom" id="zoom1" rel="position: 'left', adjustX:-15, adjustY:-4, tint: '#aaaaff', titleOpacity: '0.8', tintOpacity: '0.2', lensOpacity:0, zoomWidth:400, zoomHeight:250">
                <img src="/images/portfolio/symfony-logo.png" alt="Symfony 2 Framework" title="The Symfony 2 Framework, amazingly powerful and quick to develop in, my favorite." />
            </a>
        </li>
        <li>
            <a href="/images/portfolio/codeigniter-logo-large.png" class ="cloud-zoom" id="zoom1" rel="position: 'left', adjustX:-15, adjustY:-4, tint: '#aaaaff', titleOpacity: '0.8', tintOpacity: '0.2', lensOpacity:0, zoomWidth:400, zoomHeight:250">
                <img src="/images/portfolio/codeigniter-logo.png" alt="CodeIngiter Framework" title="The CodeIgniter Framework, refreshingly simple to develop in." />
            </a>
        </li>
        <li>
            <a href="/images/portfolio/zend-logo-large.png" class ="cloud-zoom" id="zoom1" rel="position: 'left', adjustX:-15, adjustY:-4, tint: '#aaaaff', titleOpacity: '0.8', tintOpacity: '0.2', lensOpacity:0, zoomWidth:400, zoomHeight:250">
                <img src="/images/portfolio/zend-logo.png" alt="Zend Framework" title="The Zend Framework, has roughly a Bazillion libraries to use!" />
            </a>
        </li>
    </ul>
</div>