<div class="gallery">
    <ul>
        <li>
            <img src="/images/portfolio/symfony-logo.png" alt="Symfony 2 Framework" title="The Symfony 2 Framework, amazingly powerful and quick to develop in, my favorite." />
        </li>
        <li>
            <img src="/images/portfolio/codeigniter-logo.png" alt="CodeIngiter Framework" title="The CodeIgniter Framework, refreshingly simple to develop in." />
        </li>
        <li>
            <img src="/images/portfolio/zend-logo.png" alt="Zend Framework" title="The Zend Framework, has roughly a Bazillion libraries to use!" />
        </li>
    </ul>
</div>