<div class="gallery">
    <ul>
        <li>
            <img src="/images/portfolio/vacation-home.png" alt="Simple static website transformed by good design" title="Simple static website transformed by good design" />
        </li>
        <li>
            <img src="/images/portfolio/vacation-map.png" alt="Static website does not mean no interactions, cool interactive map example" title="Static website does not mean no interactions, cool interactive map example" />
        </li>
        <li>
            <img src="/images/portfolio/vacation-gallery.png" alt="Simple and elegant static website gallery" title="Simple and elegant static website gallery" />
        </li>
    </ul>
</div>