<div class="gallery">
    <ul>
        <li>
            <a href="/images/portfolio/vacation-home-large.png" class ="cloud-zoom" id="zoom1" rel="adjustX: 10, adjustY:-4, tint: '#aaaaff', titleOpacity: '0.8', tintOpacity: '0.2', lensOpacity:0, zoomWidth:400, zoomHeight:250">
                <img src="/images/portfolio/vacation-home.png" alt="Simple static website transformed by good design" title="Simple static website transformed by good design" />
            </a>
        </li>
        <li>
            <a href="/images/portfolio/vacation-map-large.png" class ="cloud-zoom" id="zoom1" rel="adjustX: 10, adjustY:-4, tint: '#aaaaff', titleOpacity: '0.8', tintOpacity: '0.2', lensOpacity:0, zoomWidth:400, zoomHeight:250">
                <img src="/images/portfolio/vacation-map.png" alt="Static website does not mean no interactions, cool interactive map example" title="Static website does not mean no interactions, cool interactive map example" />
            </a>
        </li>
        <li>
            <a href="/images/portfolio/vacation-gallery-large.png" class ="cloud-zoom" id="zoom1" rel="adjustX: 10, adjustY:-4, tint: '#aaaaff', titleOpacity: '0.8', tintOpacity: '0.2', lensOpacity:0, zoomWidth:400, zoomHeight:250">
                <img src="/images/portfolio/vacation-gallery.png" alt="Simple and elegant static website gallery" title="Simple and elegant static website gallery" />
            </a>
        </li>
    </ul>
</div>